@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@600&family=Ubuntu&display=swap');

:root {
    --font-primary: "Ubuntu", sans-serif;
    --font-secondary: "Merienda", cursive;
    --color-very-light: hsl(0, 0%, 100%);
    --color-light: #e7e7e7;
    --color-primary: hsl(240, 10%, 16%);
    --color-monarca: #ff9b49;
}

/* BASE STYLE */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    background-color: var(--color-very-light);
    font-family: var(--font-primary);
    font-size: 1.6rem;
    line-height: 1.5;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    display: block;
}

p {
    line-height: 1.7;
}

.container {
    width: 90vw;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.heading-2 {
    font-family: var(--font-secondary);
    font-weight: 600;
    font-size: 3rem;
}

.heading-3 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 1.3rem;
}

.btn {
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    border-radius: 5rem;
    background: transparent;
    color: var(--color-very-light);
    font-weight: 500;
    transition: 0.3s ease-in-out;
}

.btn:not(.btn-transparent) {
    padding: 1.1rem 3rem;
}

.btn-white {
    background-color: var(--color-very-light);
    color: var(--color-monarca);
}


.btn-white:hover {
    background-color: var(--color-monarca);
    color: black;
}

/* HEADER */
header {
    background: var(--color-primary);
    padding: 2.5rem 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
}

header.show-bg {
    background-image: linear-gradient(to right,
            hsl(13, 100%, 72%),
            hsl(353, 100%, 62%));
}

.navbar {
    display: flex;
    align-items: center;
}

/* .logo {
    width: 75px;
    border-radius: 50px;
    display: block;

} */

#mobile-logo {
    display: none;
}

/*  */
.title {
    font-family: var(--font-secondary);
    font-weight: 900;
    text-shadow: 1px 1px 5px black;
    color: var(--color-monarca);
}

.cursive {
    font-family: var(--font-secondary);
}

.navbar .nav-list {
    display: flex;
    align-items: center;
    margin-left: 5rem;
}

.navbar .nav-list .nav-item {
    display: flex;
    align-items: center;
    position: relative;
}

.navbar .nav-list .nav-item:not(:last-child) {
    margin-right: 3rem;
}

.navbar .nav-list .nav-link {
    color: var(--color-light);
}

.navbar .nav-list .nav-link:hover {
    color: var(--color-monarca);
}

.navbar .cta {
    margin-left: auto;
}

.navbar .cta .btn-transparent {
    margin-right: 2rem;
    color: var(--color-light);
}

.navbar .cta .btn-transparent:hover {
    color: var(--color-monarca);
}

/* **************************************************** */
/* MOBILE MENU */
.mobile-menu {
    position: fixed;
    top: 7.5rem;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.mobile-menu.open {
    transform: translateX(0);
}

.mobile-menu .container {
    height: 100%;
}

.mobile-menu .mobile-nav {
    background-color: #fff;
    border-radius: 0.7rem;
    box-shadow: 0 1.5rem 3.5rem 0 rgba(0, 0, 0, 0.55);
    padding: 3rem;
}

.mobile-menu .nav-list {
    text-align: center;
}

.mobile-menu a {
    font-weight: 500;
}

.mobile-menu .nav-list .nav-item:not(:last-child) {
    margin-bottom: 2rem;
}

.mobile-menu .nav-list .nav-link {
    color: hsl(208, 49%, 24%);
    font-size: 1.7rem;
}

.mobile-nav .nav-list i {
    color: hsl(13, 100%, 72%);
}

.mobile-menu .cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5rem;
    border-top: 1px solid var(--color-light);
}

.mobile-menu .cta .login-link {
    color: hsl(208, 49%, 24%);
    margin-top: 2.5rem;
    font-family: var(--font-secondary);
    font-weight: 600;
    font-size: 1.7rem;
}

.mobile-menu .cta .btn-orange {
    background-image: linear-gradient(to right,
            hsl(13, 100%, 72%),
            hsl(353, 100%, 62%));
    margin-top: 2rem;
    padding: 1.1rem 3.5rem;
}

/* TOGGLE MENU */
.toggle-menu {
    cursor: pointer;
    margin-left: auto;
    width: 3.2rem;
    height: 3rem;
    display: flex;
    align-items: center;
}

.toggle-menu .hamburger-menu {
    display: block;
    width: 3.2rem;
    height: 3px;
    background: #fff;
    position: relative;
    transition: 0.3s ease;
}

.toggle-menu .hamburger-menu::before,
.toggle-menu .hamburger-menu::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    transition: transform 0.3s ease;
}

.toggle-menu .hamburger-menu::before {
    top: -1rem;
}

.toggle-menu .hamburger-menu::after {
    top: 1rem;
}

.toggle-menu.active .hamburger-menu::before,
.toggle-menu.active .hamburger-menu::after {
    top: 0;
}

.toggle-menu.active .hamburger-menu {
    transform: rotate(90deg);
    background: transparent;
}

.toggle-menu.active .hamburger-menu::before {
    transform: rotate(-135deg);
}

.toggle-menu.active .hamburger-menu::after {
    transform: rotate(135deg);
}

@media (min-width:992px) {
    .mobile-menu {
        display: none;
    }
}

/* FOOTER */
footer {
    margin: 100px 0px;
    background-color: var(--color-primary);
    padding: 15px 0px;
}

/* MEDIA QUERY */
@media screen and (min-width: 1440px) {
    .container {
        width: 75vw;
    }
}

@media screen and (max-width: 992px) {
    .footer-container {
        grid-template-columns: 25rem 1fr;
    }
}

@media screen and (max-width: 768px) {
    header {
        padding: 2rem 0;
    }

    .container {
        width: 95vw;
    }


    .navbar :is(.nav-list, .cta) {
        display: none;
    }
}


/* Footer links */
.footer-distributed p.footer-links {
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    text-align: center;
}

.footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-links a:before {
    content: "·";
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}

.footer-distributed .footer-icon {
    text-align: center;
    max-width: 100%;
}

.footer-distributed .footer-icon a {
    display: inline-block;
    width: 32px;
    background-color: #33383b;
    border-radius: 5px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition: all .25s;
}

.footer-distributed .footer-icon a:hover {
    color: var(--color-monarca);
    transition: 0.3s;
}

.footer-distributed p.footer-links a:hover {
    color: var(--color-monarca);
    transition: 0.3s;
}

.footer-nav {
    text-align: center;
    color: hsl(207, 13%, 34%);
}

/* Media Queries */

@media (max-width: 600px) {

    .footer-distributed .footer-nav,
    .footer-distributed .footer-icon {
        text-align: center;
    }

    .footer-distributed .footer-icon {
        float: none;
        margin: 0 auto 10px;
    }

    .footer-distributed .footer-nav p.footer-links {
        line-height: 1.8;
    }
}

@media screen and (min-width: 769px) {
    .toggle-menu {
        display: none;
    }
}