@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@600&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap');

:root {
    --font-primary: 'Manrope', sans-serif;
    --font-sub: "Ubuntu", sans-serif;
    --font-secondary: "Merienda", cursive;
    --color-very-light: hsl(0, 0%, 100%);
    --color-light: #e7e7e7;
    --color-primary: hsl(240, 10%, 16%);
    --color-monarca: #ff9b49;
}

/* ESTILO BASE*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    background-color: var(--color-very-light);
    font-family: var(--font-primary);
    font-size: 1.6rem;
    line-height: 1.5;
    overflow-x: hidden;
}

/* ******************* MENU NAVEGACION ******************* */
/* HEADER */
header {
    background: var(--color-primary);
    padding: 1rem 0rem;
    /* NAV persistente */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
}

.container-nav {
    width: 95vw;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.navbar {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    display: block;
}

p {
    line-height: 1.7;
}

.btn {
    display: inline-block;
    cursor: pointer;
    border-radius: 5rem;
    color: var(--color-very-light);
    font-weight: 500;
    transition: 0.3s ease-in-out;
}


.btn-white {
    padding: 1.1rem 3rem;
    background-color: var(--color-very-light);
    color: var(--color-monarca);
}


.btn-white:hover {
    background-color: var(--color-monarca);
    color: black;
}

.cursive {
    font-family: var(--font-secondary);
}


.navbar .nav-list {
    display: flex;
    align-items: center;
    margin-left: 5rem;
}

.navbar .nav-list .nav-item {
    display: flex;
    align-items: center;
    position: relative;
}

.navbar .nav-list .nav-item:not(:last-child) {
    margin-right: 3rem;
}

.navbar .nav-list .nav-link {
    color: var(--color-light);
}

.navbar .cta .btn-transparent:hover {
    transition: 0.3s ease-in-out;
    color: var(--color-monarca);
}

.navbar .nav-list .nav-link:hover {
    transition: 0.3s ease-in-out;
    color: var(--color-monarca);
}

.navbar .cta {
    margin-left: auto;
}

.navbar .cta .btn-transparent {
    margin-right: 2rem;
    color: var(--color-light);
}

/* ***************MENU NAVEGACION MOBILE************************* */
/* MENU MOBILE */
.mobile-menu {
    position: fixed;
    top: 65px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    transform: translateX(-100%);
    transition: transform 0.15s ease;
}

/* Estilo para el pseudo-elemento que crea el fondo de desenfoque */
.mobile-menu::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    /* Color de fondo semi-transparente */
    background-color: rgba(0, 0, 0, 0.5);
    /* Aplicar el filtro de desenfoque */
    backdrop-filter: blur(1rem);
    /* Colocar detrás del menú */
    z-index: -1;
    /* Inicialmente oculto */
    display: none;
}

.mobile-menu.open {
    right: 0;
    transform: translateX(0);
}

.mobile-menu.open::before {
    /* Mostrar el fondo de desenfoque al abrir el menú */
    display: block;
}

.mobile-menu .container-nav {
    height: 100%;
}

.mobile-menu .mobile-nav {
    background-color: var(--color-light);
    border-radius: 0rem 0rem 2rem 2rem;
    box-shadow: 0 1.5rem 3.5rem 0 rgba(0, 0, 0, 0.7);
    padding: 3rem;
}

.mobile-menu .nav-list {
    text-align: center;
}

.mobile-menu .nav-list .nav-item:not(:last-child) {
    margin-bottom: 2rem;
}

.mobile-menu .nav-list .nav-link {
    color: var(--color-primary);
    font-size: 1.7rem;
}

.mobile-menu .cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3.5rem;
}

.mobile-menu .cta .login-link {
    color: var(--color-primary);
    margin-top: 3.5rem;
    font-family: var(--font-secondary);
    font-weight: 600;
    font-size: 1.7rem;
}

.mobile-menu .cta .btn-orange {
    background-color: var(--color-monarca);
    margin-top: 2rem;
    padding: 1.1rem 3.5rem;
    color: var(--color-primary);
}

/* TOGGLE MENU */
.toggle-menu {
    cursor: pointer;
    margin-left: auto;
    width: 3.2rem;
    height: 3rem;
    display: flex;
    align-items: center;
}

.toggle-menu .hamburger-menu {
    display: block;
    width: 3.2rem;
    height: 0.3rem;
    background: var(--color-light);
    position: relative;
    transition: 0.3s ease;
}

.toggle-menu .hamburger-menu::before,
.toggle-menu .hamburger-menu::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-light);
    transition: transform 0.3s ease;
}

.toggle-menu .hamburger-menu::before {
    top: -1rem;
}

.toggle-menu .hamburger-menu::after {
    top: 1rem;
}

.toggle-menu.active .hamburger-menu::before,
.toggle-menu.active .hamburger-menu::after {
    top: 0;
}

.toggle-menu.active .hamburger-menu {
    transform: rotate(90deg);
    background: transparent;
}

.toggle-menu.active .hamburger-menu::before {
    transform: rotate(-135deg);
}

.toggle-menu.active .hamburger-menu::after {
    transform: rotate(135deg);
}

@media (min-width:769px) {
    .mobile-menu {
        display: none;
    }
}


/* ***************FOOTER************************************ */
/* FOOTER */
footer {
    margin: 100px 0px;
    background-color: var(--color-primary);
    padding: 15px 0px;
}

/* Footer links */
.footer-distributed p.footer-links {
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    text-align: center;
}

.footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-links a:before {
    content: "·";
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}

.footer-distributed .footer-icon {
    text-align: center;
    max-width: 100%;
}

.footer-distributed .footer-icon a {
    display: inline-block;
    width: 32px;
    background-color: #33383b;
    border-radius: 5px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition: all .25s;
}

.footer-distributed .footer-icon a:hover {
    color: var(--color-monarca);
    transition: 0.3s;
}

.footer-distributed p.footer-links a:hover {
    color: var(--color-monarca);
    transition: 0.3s;
}

.footer-nav {
    text-align: center;
    color: hsl(207, 13%, 34%);
}



/* ***************RESPONSIVE DESGIN************************* */

@media screen and (min-width: 1440px) {

    /* Container de navegacion */
    .container-nav {
        width: 75vw;
    }
}

@media screen and (max-width: 769px) {

    /* Header mobile */
    header {
        padding: 2rem 0;
    }

    .navbar :is(.nav-list, .cta) {
        display: none;
    }
}

@media screen and (min-width: 769px) {

    /* Se oculta el menu hamburguesa */
    .toggle-menu {
        display: none;
    }
}



/* ************ FORMULARIOS ************************ */

/* FORM LOGIN Y SIGN */
.container-form {
    max-width: 44rem;
    padding: 0 1rem;
    margin: 15rem auto;
}

.wrapper {
    width: 100%;
    background: #fff;
    border-radius: 0.5rem;
    box-shadow: 0px 1rem 2rem 1rem rgba(0, 0, 0, 0.1);
}

.wrapper .title-form {
    height: 9rem;
    background: var(--color-primary);
    border-radius: 0.5rem 0.5rem 0 0;
    color: var(--color-very-light);
    font-size: 3rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper form {
    padding: 3rem 2.5rem 2.5rem 2.5rem;
}

.wrapper form .row {
    height: 4.5rem;
    margin-bottom: 1.5rem;
    position: relative;
}

.wrapper form .row input {
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 6rem;
    border-radius: 0.5rem;
    border: 1px solid lightgrey;
    font-size: 1.6rem;
}

form .row input:focus {
    border-color: var(--color-monarca);
    box-shadow: inset 0rem 0rem 0.1rem 0.1rem var(--color-monarca);
}

.wrapper form .row i {
    position: absolute;
    width: 4.7rem;
    height: 100%;
    color: #fff;
    font-size: 1.8rem;
    background: var(--color-monarca);
    border-radius: 0.5rem 0 0 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper form .recuContra {
    margin: -0.8rem 0 2rem 0;
}

.wrapper form .recuContra a {
    color: black;
    font-size: 1.7rem;
    text-decoration: none;
}

.wrapper form .recuContra a:hover {
    color: var(--color-monarca);
}

.wrapper form .button input {
    color: var(--color-light);
    font-size: 2rem;
    font-weight: 500;
    padding-left: 0;
    background: var(--color-primary);
    cursor: pointer;
}

form .button input:hover {
    transition: all 0.3s;
    background: #535c5f;
}

.wrapper form .signup-link {
    text-align: center;
    margin-top: 2rem;
    font-size: 1.7rem;
}

.wrapper form .signup-link a {
    color: var(--color-monarca);
    text-decoration: none;
}

form .signup-link a:hover {
    text-decoration: underline;
}

label {
    cursor: pointer;
}

/* **************** CANCIONERO ********************************* */
.title-songs {
    max-width: 95%;
    margin: 8rem auto 0 auto;
    background: var(--color-monarca);
    text-align: center;
    color: black;
    font-weight: 700;
    border-radius: 2rem 2rem 0 0;
}

.container-songs {
    max-width: 95%;
    padding: 0rem 0rem;
    margin: 0rem auto auto;
    background: #33383b;
    text-align: center;
    border-radius: 0rem 0rem 2rem 2rem;
}

.single-song-area .song-thumbnail {
    flex: 0 0 13.5rem;
    max-width: 13.5rem;
    width: 13.5rem;
    margin-right: 5rem;
}

.single-song-area .song-play-area {
    width: 100%;
    background-color: #33383b;
    padding: 1.5rem 3rem 2rem;
    border-radius: 0rem 0rem 2rem 2rem;
}


.song-play-area .song-name p {
    color: var(--color-light);
}

.song-play-area .song-name a {
    color: var(--color-light);
    text-decoration: underline;
}

audio {
    margin-top: 2rem;
    width: 100%;
    max-width: 40rem;
    background-color: #fa7f1b;
    border-radius: 5rem;
    padding: 0.5rem;
}

audio::-webkit-media-controls-panel {
    background-color: var(--color-very-light);
}

@media (min-width: 769px) {
    .container-songs {
        display: flex;
        /* Permitir que los elementos se envuelvan a la siguiente fila si no caben */
        flex-wrap: wrap;
        /* Espacio uniforme entre las columnas */
        justify-content: space-between;
    }

    .single-song-area {
        /* Ancho de cada columna (33.33% para tres columnas en una fila) */
        flex-basis: calc(33.33% - 20px);
        /* Espacio entre las columnas */
        margin-bottom: 20px;

    }
}